/*
    This is a required file for using the Duke Theme
    Document: Duke Theme Main Menu
    Required path: skins/duke/mainmenu.css
*/

.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe Script";
    -fx-background-image: url("sunset.jpg");
    -fx-background-size: stretch;
    -fx-focus-color: #FFFFFF;
}

.border{
    -fx-base: #000000;
}

.titleborder{
    -fx-base: #000000;
    -fx-padding: 7;
}

.title{
    -fx-fill: #FFFFFF;
    -fx-font-size: 30pt;
    -fx-alignment: "center";
}

.dashboard{
    -fx-font-size: 10pt;
    -fx-alignment: "center";
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-fill: #FFFFFF;
    -fx-font-family: "Impact";
    -fx-fill: #FFFFFF;
}

.options{
    -fx-spacing: 25;
}

.button{
    -fx-background-color: linear-gradient(#C9C9C9 , #DFDFDF );

}

.button:hover {
    -fx-background-color: linear-gradient(#2b2c30 , #75553e  );
}
