/*
    This is a required file for using the Duke Theme
    Document: Duke Theme Game Table
    Required path: skins/duke/gametable.css
*/

.root{
    -fx-font-size: 12pt;
    -fx-font-family: Jokerman;
    -fx-base: #BBA1BB;
    -fx-background-image: url("mememanbg.jpg");
    -fx-background-size: stretch;
    -fx-focus-color: #FFFFFF;
}

.title{
    -fx-fill: #FFFFFF;
    -fx-alignment: "center";
}

.header{
    -fx-padding: 10;
    -fx-alignment: "center";
}

.dashboard{
    -fx-spacing: 20;
    -fx-padding: 5;
    -fx-font-size: 10pt;
    -fx-alignment: "center";
}

.score{
    -fx-fill: #FFFFFF;
    -fx-font-size: 10pt;
}



.cardskin{
    -fx-image: url(mememan.jpg);
}
.button{
    -fx-background-color: #fff30d;

}

.button:hover {
    -fx-background-color: #ff0ddf;
}