/*
    This is a required file for using the Duke Theme
    Document: Duke Theme Game Table
    Required path: skins/duke/gametable.css
*/

.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Stencil";
    -fx-base: #BBA1BB;
    -fx-background-image: url("coachkcourt.jpg");
    -fx-background-size: stretch;
    -fx-focus-color: #FFFFFF;
}

.title{
    -fx-fill: #FFFFFF;
    -fx-alignment: "center";
}

.header{
    -fx-padding: 10;
    -fx-alignment: "center";
}

.dashboard{
    -fx-spacing: 20;
    -fx-padding: 5;
    -fx-font-family: "Arial Black";
}

.cardskin{
    -fx-image: url(duked.png);
}

.button{
    -fx-background-color: linear-gradient(#C9C9C9 , #DFDFDF );

}

.button:hover {
    -fx-background-color: linear-gradient(#000FFF , #D8DBFF  );
}