/*
    Document   : lightmode
*/

.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Arial Black";
    -fx-base: #BBA1BB;
    -fx-background-image: url("drivingcar.gif");
    -fx-background-size: stretch;
    -fx-focus-color: #FFFFFF;
}

.border{
    -fx-base: #000000;
}

.titleborder{
    -fx-base: #000000;
    -fx-font-family: "Harlow Solid Italic";
    -fx-padding: 20;
}

.title{
    -fx-fill: #FFFFFF;
    -fx-font-size: 30pt;
    -fx-alignment: "center";
}

.dashboard{
    -fx-font-size: 10pt;
    -fx-alignment: "center";
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-fill: #FFFFFF;
    -fx-font-family: "Arial Black";
}

.options{
    -fx-spacing: 10;
    -fx-font-family: "Arial Black";
}

.button{
    -fx-background-color: linear-gradient(#E4E4E4, #D5D5D5);
}

.button:hover {
    -fx-background-color: linear-gradient(#E084E0, #EFE1EF);
}
